:root {
	--global-color-pallete-1: #fbf5ef;
	--global-color-pallete-2: #fe6c90;
	--global-color-pallete-3: #d03791;
	--global-color-pallete-4: #87286a;
	--global-color-pallete-5: #452459;
	--global-color-pallete-6: #260d34 ;
}

* {
	font-family: 'Fira Sans', sans-serif !important;
}

b {
	font-weight: bold;
}

@import "./App.css";
@import "./CreatedUser.css";